body{
	background: #d5f0f3;
}
 
.form_login{
	width: 350px;
	background: white;
	margin: 80px auto;
	padding: 30px 20px;
}

.login{
	font-family: Aharoni;
	font-size: 14pt;
	text-align: center;
	text-transform: uppercase;
}
 
label{
	font-size: 12pt;
	font-weight: bold;
}
 
.username{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.password{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.tombol_login{
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}